<!DOCTYPE html>
<html>
  <head>
    <title>AngularDependencyInjection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1>Angular dependency injection is broken when used with constructor functions</h1>
    <h2>But works fine when you use inject() inside the constructor function</h2>
    <app-root></app-root>
  </body>
</html>
